body{
    
    background-color: #606060;
    
    user-select: none;
    
}

.box-panel{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: white;
}

.inner-panel{
    width: 100%;
    height: 50px;    
}